body {
    background-color: #dedede;
}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 32px;
}

a {
    color: #000;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

p {
    font-size: 25px;
    font-family: Arial, sans-serif;
    text-align: center;
}

img {
    width: 100%;
}

/* ===== MOBILE VIEW (default) ===== */
/* 1 cột */

div {
    width: 100%;
    margin: 5px;
    padding: 2px;
}

div img {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}

/* ===== TABLET VIEW (>= 772px) ===== */
/* 2 cột */

@media screen and (min-width: 772px) {

    div {
        width: 45%;
        display: inline-block;
        vertical-align: top;
    }

    img {
        max-height: 30vh;
    }

}

/* ===== LARGE SCREEN VIEW (>= 998px) ===== */
/* 3 cột */

@media screen and (min-width: 998px) {

    div {
        width: 30%;
    }

}
